.card {
	width: 280px;
	background: rgb(94, 56, 116);
	border-radius: 2px;
	display: block;
	margin: 7px auto;
	color: #000;
	padding: 8px;
	text-align: center;
}

.card .textarea {
	padding: 2px;
	box-sizing: border-box; 
	width: 280px;
	resize: none;
	margin: 0 auto;
	color: #fff;
	font-size: 18px;
	font-weight: 900;
	background-color: rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 2px;
	text-align: center;
	word-break: normal;
	outline: none;
}

.button_right {
	float: right;
	margin-right: 0;
}

.button_left {
	float: left;
	margin-left: 0;
}

.card_buttons {
	height: 38px;
}

.card .textarea:focus {
	background-color: rgba(0, 0, 0, 0.6);
}

.card .textarea:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.card p {
	color: #fff;
	font-size: 12px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 8px;
}