@font-face {
    font-family: Dosis Bold;
    src: url(fonts/dosis-bold.ttf);
}

.info_popup {
    width: 100%;
    height: 100%;
}

.window {
    padding: 0 2% 0 2%;
}

.comment_textarea {
    font-family: Dosis Bold, sans-serif;
    padding: 5px;
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    min-height: 60px;
	resize: none;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 12px;
	font-weight: 900;
	border-radius: 2px;
	text-align: left;
	word-break: break-all;
    outline: none;
    border: none;
}

.comments {
    width: 45%;
    float: right;
    display: block;
}

.comment_text {
    width: 90%;
    float: right;
    margin-right: 10px;
}

.comment_form {
    width: 40%;
    float: right;
    display: block;
}

.comment {
    float: right;
    width: 90%;
    background-color:  rgba(0, 0, 0, 0.6);
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
    text-align: left;
    word-break: break-all;
    padding: 10px;
    box-sizing: border-box;
}

.information {
    overflow: auto;
    max-height: 500px;
}

.popup { 
    margin-bottom: 50px;
    position: fixed;
    font-family: Dosis Bold, sans-serif;
    color: #fff;
    font-size: 24px;
    text-align: center;
    width: 96%;
    height: 100%;
    max-height: 600px;
	background-color: rgb(91, 42, 104);
    border-radius: 12px;
    margin-top: 30px;
}

.popup .head {
    width: 100sp;
    background-color: blueviolet;
	box-sizing: border-box; 
    padding: 10px;
    border-radius: 5px;
}

.popup .buttons {
    float: right;
    margin: 0;
    margin-top: -38px;
    margin-right: -7px;
}

.fade_inf {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: fit-content;
    height: 100%;
    padding: 5% 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.column_name {
    margin: 0 auto; 
    text-align: center;
    max-width: 750px;
    word-break: break-all;
    color: rgba(0, 0, 0, 0.45);
}

.description .textarea {
    width: 100%;
    height: 50vh;
    float: left;
    margin-left: 20px;
    margin-bottom: 15px;
    font-family: Dosis Bold, sans-serif;
    color: #fff;
    border: none;
}

.description .textarea:focus{
    background-color: rgba(0, 0, 0, 0.2);
}

.description .textarea:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.description {
    width: 50%;
    float: left;
}

.author {
    width: 20%;
    word-break: normal;
    float: left;
    margin: 0;
    left: 5%;
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
}