@font-face {
	font-family: Dosis Bold;
	src: url(fonts/dosis-bold.ttf);
}

.button {
	font-family: Dosis Bold, sans-serif;
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	font-weight: 700;
	margin:	5px;
	outline: none;
}

.button:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.plus {
	font-weight: 900;
	padding: 5px 10px;
	margin: 10px;
}

.button_card {
	font-weight: 900;
	padding: 5px 10px;
	margin: 10px;
	margin-bottom: 0; 
}

.name {
	word-break: normal;
	font-family: Dosis Bold, sans-serif;
	padding: 2px;
	box-sizing: border-box; 
	width: 280px;
	resize: none;
	margin: 0 auto;
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 18px;
	font-weight: 900;
	border-radius: 2px;
	text-align: center;
	outline: none;
}